{% extends 'base.html' %}

{% load static %}

{% block section %}
    <h2>Lista de Álbumes</h2>
    <hr>
    <!-- Barra de búsqueda para álbumes -->
    <form method="GET" action="{% url 'album-list' %}" class="form-inline">
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Buscar álbum..." aria-label="Buscar álbum" aria-describedby="button-addon2" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
            </div>
        </div>
    </form>
{% endblock section %}

{% block maincontent %}
    <div class="row">
        {% for album in object_list %}
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card h-100 text-white" style="background-color: #131614;">
                    <img src="{{ album.portada.url }}" class="card-img-top" alt="Imagen de {{ album.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.titulo }}</h5>
                        <p class="card-text">Banda: {{ album.banda.nombre }}</p>
                        <p class="card-text">Fecha de Lanzamiento: {{ album.fecha_lanzamiento }}</p>
                        <a href="{% url 'album-detail' album.id %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No se encontraron álbumes.</p>
        {% endfor %}
    </div>
{% endblock maincontent %}
