{% extends 'base.html' %}

{% load static %}

{% block section %}
<div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="info-title text-primary font-weight-bold">Lista de Canciones</h3>
    <!-- Barra de búsqueda -->
    <form method="GET" action="{% url 'cancion-list' %}" class="form-inline d-flex">
        <div class="input-group">
            <input type="text" name="q" class="form-control shadow-sm" placeholder="Buscar canción..." aria-label="Buscar canción" aria-describedby="button-addon2" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-primary shadow" type="submit" id="button-addon2">Buscar</button>
            </div>
        </div>
    </form>
</div>
<hr>
{% endblock section %}

{% block maincontent %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th> <!-- Nueva columna para la carátula, sin encabezado -->
                    <th>Título</th>
                    <th>Banda</th>
                    <th>Álbum</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                {% for cancion in object_list %}
                    <tr>
                        <!-- Carátula de la canción -->
                        <td>
                            {% if cancion.imagen %}
                                <img src="{{ cancion.imagen.url }}" alt="{{ cancion.titulo }}" class="img-thumbnail" style="width: 50px; height: 50px;">
                            {% else %}
                                <img src="{% static 'images/default-cover.jpg' %}" alt="Carátula no disponible" class="img-thumbnail" style="width: 50px; height: 50px;">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'cancion-detail' cancion.id %}">
                                {{ cancion.titulo }}
                            </a>
                        </td>
                        <td>{{ cancion.banda.nombre }}</td>
                        <td>{{ cancion.album.titulo }}</td>
                        <td>{{ cancion.duracion }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No se encontraron canciones.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock maincontent %}
